html {
  font-family: Arial, sans-serif;
}

body {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
}

h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 16px;
  text-align: center;
}

label {
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

#guessField {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #333;
  border-radius: 5px;
}

#subt {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.lastResult, .guesses {
  color: #333;
  padding: 7px;
}

.lowOrHi {
  font-weight: bold;
  color: #333;
}

/* Add hover effect for buttons */
#subt:hover {
  background-color: #555;
}
