html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: rgb(77, 76, 76);
  }
  
  #white {
    background: white;
  }
  #blue {
    background: rgb(12, 12, 201);
  }
  #yellow {
    background: rgb(245, 245, 8);
  }
  #purple {
    background: rgb(104, 1, 104);
  }
  #green {
    background: rgb(3, 216, 3);
  }
  #orange {
    background: rgb(228, 125, 9);
  }
